node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example
.DS_Store
.vscode/*
!.vscode/extensions.json
npm-debug.log*

# Deploy artifacts
*.tar
deploy/build.log
deploy/docker.log
deploy/remote.log
tsconfig*.tsbuildinfo
